/* ======================================
 Wrapper
====================================== */

#wrapper {
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
      -ms-box-orient: vertical;
           box-orient: vertical;

  @media (min-width: 768px) {
    -ms-flex-direction: row;

    -webkit-box-orient: horizontal;
       -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
            box-orient: horizontal;

    height: 100%;
  }

  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  margin: 0 auto;
  max-width: 1800px;
  overflow-x: hidden;
  width: 100%;
}
