<div class="page-header">
  <h1><%= Archangel.t(:posts_in_category) %> `<%= @category.name %>`</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <%= render "posts" %>

  </div>
</div>
