<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:posts) %></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render "posts", posts: @posts %>
  </div>
</div>
