<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:posts_tagged, tag: @tag.name) %></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render "posts" %>
  </div>
</div>
