.DS_Store
.bundle/
.ruby-version
.Trashes
.yardoc/
brakeman.html
coverage/
Desktop.ini
doc/
Gemfile.lock
log/*.log
pkg/
rails_best_practices_output.html
rspec.log
spec/dummy/
spec/examples.txt
Thumbs.db
tmp/

!/app/themes/
/app/themes/*
!/app/themes/default/
