<ul class="nav nav-pills">
  <% if member_action? || new_action? %>
    <li><%= link_to(fa_icon("arrow-left", text: Archangel.t(:back)), admin_menus_path) %></li>
  <% end %>

  <% if collection_action? || show_action? || edit_action? %>
    <li><%= link_to(fa_icon("plus", text: Archangel.t(:new)), new_admin_menu_path) %></li>
  <% end %>

  <% if show_action? %>
    <li><%= link_to(fa_icon("check", text: Archangel.t(:edit)), edit_admin_menu_path(@menu)) %></li>
  <% end %>
</ul>
