<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= @page.title %></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= @page.content.html_safe %>
  </div>
</div>
