//========================================
// Page Content
//========================================

.page-content {
  -webkit-box-flex: 1;
  box-flex: 1;
  height: 100%;
  padding: $gap;
  transition: all .3s ease;
}
