<div class="row wrapper page-heading">
  <div class="col-lg-12">
    <h2>4041- Unauthorized</h2>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="error-401-show row">
    <div class="col-lg-12">
      <p>
        Access is denied due to invalid credentials.
      </p>
    </div>
  </div>
</div>
