<div class="row wrapper page-heading">
  <div class="col-lg-12">
    <h2>404 - Not Found</h2>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="error-404-show row">
    <div class="col-lg-12">
      <p>
        Could not find what was requested
      </p>
    </div>
  </div>
</div>
