<footer class="page-footer">
  <div class="container">
    <div class="text-center">
      <%= Archangel.t(:built_with, archangel: Archangel.t(:archangel)) %> <strong><%= Archangel::VERSION %></strong>
    </div>
  </div>
</header>
