<header  class="text-center page-header">
  <div class="container">
    <h1 class="logo-name"><%= image_tag(current_site.logo.thumb.url, alt: current_site.name) %></h1>

    <h3><%= Archangel.t(:welcome, site: current_site.name) %></h3>
  </div>
</header>
