// Bootstrap extensions
@import 'default/shared/theme/bootstrap/extend/*';

// Bootstrap overrides
@import 'default/shared/theme/bootstrap/override/*';

// Common
@import 'default/shared/theme/common/*';

// Support
@import 'default/shared/theme/support/*';

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: $white;
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      background-color: $pagination-disabled-bg;
    }
  }
}

// Indicators =================================================================

.close {
  color: $white;
  opacity: .4;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
    opacity: 1;
  }
}

.alert {

  .alert-link {
    color: $white;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

.progress {
  box-shadow: none;
  height: 10px;

  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  box-shadow: none;
}

a.list-group-item {

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $list-group-border;
  }

  &-success {
    &.active {
      background-color: $state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $state-warning-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $state-danger-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-danger-bg, 5%);
    }
  }
}

.panel {
  &-default {
    .close {
      color: $text-color;
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

.popover {
  color: $text-color;
}
