<footer class="page-footer">
  <div class="container-fluid">
    <span class="pull-right">
      <%= Archangel.t(:built_with, archangel: Archangel.t(:archangel)) %> <strong><%= Archangel::VERSION %></strong>
    </span>
  </div>
</header>
