<footer id="footer" class="footer border-top">
  <div class="container-fluid">
    <div class="text-right">
      <%= Archangel.t(:built_with, archangel: Archangel.t(:archangel)) %> <strong><%= Archangel::VERSION %></strong>
    </div>
  </div>
</footer>
