<%= image_tag(@settings.logo.thumb.url) %>

<p>
  <strong>Title:</strong>
  <%= @settings.title %>
</p>

<p>
  <strong>Per Page:</strong>
  <%= @settings.per_page %>
</p>

<%= link_to "Edit", edit_admin_settings_path %>
