<header id="header" class="header border-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-minimalize btn btn-primary" href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <ul class="list-inline text-right">
      <li><%= link_to(current_user.name, admin_profile_path) %></li>
      <li><%= link_to(fa_icon("sign-out", text: Archangel.t(:logout)), destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>
</header>
