<div class="row wrapper page-header">
  <div class="col-lg-12">
    <h2>Category</h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="categories-show panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Name:</strong>
      <%= @category.name %>
    </p>

    <p>
      <strong>Slug:</strong>
      <%= @category.slug %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @category.description %>
    </p>
  </div>
</div>
