<%= search_form_for [:admin, @q], builder: SimpleForm::FormBuilder do |f| %>
  <div class="form-inputs">
    <%= f.input :title_or_content_cont %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, Archangel.t(:search) %>
  </div>
<% end %>
