<div class="row wrapper page-heading">
  <div class="col-lg-12">
    <h2>New Tag</h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="tags-new row">
    <div class="col-lg-12">
      <%= render "form" %>
    </div>
  </div>
</div>
