<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:new_resource, resource: @tag.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="tags-new panel panel-default">
  <div class="panel-body">
    <%= render "form", tag: @tag %>
  </div>
</div>
