<div class="row wrapper page-header">
  <div class="col-lg-12">
    <h2>New Post</h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="posts-new panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>
