<div class="row wrapper border-bottom page-heading">
  <div class="col-lg-12">
    <h2>New User</h2>

    <%= render "archangel/admin/users/buttons" %>

    <%= render "archangel/admin/shared/breadcrumbs" %>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <%= render "form" %>
    </div>
  </div>
</div>
